* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
}

#app {
  display: grid;
  max-width: 144rem;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Sora', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 13.5rem;
}

header nav ul{
  display: flex;
  list-style: none;
  gap: 6.6rem;
}

header nav ul li a{
  color: #6E7275;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
}
main {
  padding: 0 13.5rem;
}
main #intro{
  display: flex;
  align-items: center;
  background-color: #EFF8FF;
}

#intro h1 {
  color: #293145;
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 6.6rem;
}

#intro button {
  background: #0F9AFE;
  border-radius: 5rem;
  border: none;
  padding: 1.6rem 3.6rem;

  color: #FFF;
  font-size: 2rem;
  font-weight: 600;
}


#functionalities {
  display: grid;
  justify-content: center;
  margin-top: 5.6rem;
  margin-bottom: 10.9rem;
}

#functionalities h2 {
  color: #293145;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 8rem;
}

#functionalities .advantages {
  display: flex;
  gap: 13rem;
  align-items: center;
}

#functionalities .advantages .functionalities {
  text-align: center;
}

#functionalities .advantages .functionalities img {
  margin-bottom: 3rem;
}

#functionalities .advantages .functionalities h3 {
  margin-bottom: 1.6rem;
}

.application {
  display: flex;
  background-color: #EFF8FF;
  align-items: center;
}

.application h2 {
  color: #293145;
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.application span {
  color: #6E7275;
  font-weight: 400;
  line-height: 2.6rem;
  margin-bottom: 3.2rem;
}

.application .buttons {
  display: flex;
  gap: 2.1rem;
  margin-top: 3.2rem;
}

.application .buttons button {
  border: none;
  background-color: transparent;
}

.plans {
  margin-top: 5rem;
  margin-bottom: 13rem;
}

.plans .title{
  width: 57rem;
  text-align: center;
  margin: 0 auto;
}

.plans .title h2 {
  color: #293145;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.plans .title span {
  color: #6E7275;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.plans .cards {
  display: flex;
  align-items: center;
  margin-top: 9.6rem;
  
}

.plans .cards .card {
  display: grid;
  flex-direction: column;
  place-items: center;
  text-align: center;
  height: 47.1rem;
  padding: 5.6rem 3.5rem 6.4rem;
  background-color: #EFF8FF;
  border-radius: .8rem;
}

.plans .cards .card h3 {
  color: #293145;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.plans .cards .card span {
  color: #6E7275;
  text-align: center;
  width: 30rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 2.4rem;
  margin-top: 4.7rem;
}

.plans .cards .card button {
  border: none;
  border-radius: 5rem;
  background: #0F9AFE;
  padding: .8rem 8rem;
}

.plans .cards .card:nth-child(2){
  background-color: #293145;;
  text-align: center;
  height: 47.1rem;
  padding: 5.6rem 3.5rem 6.4rem;
  margin: 0 7.7rem;
}

.plans .cards .card:nth-child(2) h3 {
  color: #FFF;
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.plans .cards .card:nth-child(2) p {
  width: 23rem;
  background: #0F9AFE;
  border-radius: 1.5rem;
  padding: .5rem 3.2rem;

  color: #FFF;
  font-size: 2rem;
  font-weight: bold;
}